@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

input[type=text] {
  width: 100%;
  height: 25px;
  padding: 15px 10px;
  margin-bottom: 10px;
  color: $text-color;
  background-color: gray;
}

textarea {
  width: 100%;
  height: 200px;
  color: $text-color;
  background-color: gray;
  padding: 10px 10px;
  margin-bottom: 10px;
}

::placeholder {
  color: $text-color;
}

input[type=submit] {
  width: 25%;
  height: 35px;
  border: none;
  background-color: $button-color;
  color: $text-color;
  font-family: $text-font;
  font-size: $text-font-size;
  font-weight: 400;
}

form {
  width: 80%;
}